html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; margin: 0; padding: 0; vertical-align: baseline; font-size: 100%; font: inherit; -webkit-text-size-adjust: none; }
body { line-height: 1;}
table { border-collapse: collapse; border-spacing: 0; }
object, :focus { outline: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section /* HTML 5 */ { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a img { border: none; }
input,button,textarea,select,optgroup,option{ font-size: 100%; font: inherit;}

.a{
    border-radius: inherit;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    text-align: end;
    vertical-align: middle;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    right:0;
    font-weight: 400;
    border-top: 0.01rem solid #ededed;
    background: url('../assets/game_grade_icon.png') no-repeat 0.7rem 0.7rem;
    width: auto;
    border-bottom: 0.01rem solid #e5e5e5;
}
.area {
    width: 400px;

}
.container {
    width: 1200px;
    background-color: rgba(0,0,0,0.7);
}
.a{
    display: block;
    overflow: scroll;
}
