/**
 * Created by chao on 2017/10/24.
 */
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;opacity:1;
}

input:-ms-input-placeholder{
    color: #999;opacity:1;
}

input::-webkit-input-placeholder{
    color: #999;opacity:1;
}
